
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
  margin:0px
}
 
/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px 200px 30px;
 
background: rgba(0, 0, 0, 0.05);

box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(1.5px);
border: 1px solid rgba(0, 0, 0, 0.02);
}
a{
  text-decoration: none;
  font-family :'Roboto',sans-serif;
  color:#3e3e3f;
  font-weight:300;
  font-size: 16px;
}

/* Social */
.social{
  position:absolute;
  display: flex;
  flex-direction: column;
  margin:75px 18px 0px  ;
}
.icon{
  padding-top:5px ;
  padding-bottom:5px ;
  font-size: 20px;
  color: #868383;
}  
.ver{
  border-left: 1px solid #868383;
  height: 200px;
  margin-left: 9px;
  
}
  
/* home */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.frontend{
  font-family :'Roboto',sans-serif;
color: #3e3e3f;
padding-top: 140px;
font-weight:100;
  font-size: 50px;
}

.content {
  position: relative;
  display: flex;
  
  min-height: 70vh;
  align-items: center;
  justify-content: center;
}

.content h2 {
  
  font-size: 8em;
  position: absolute;
  transform: translate(0,-40%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #3e3e3f;
}

.content h2:nth-child(2) {
  color: #b2b2b2;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
  

  
  
  
  
