@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-up{
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  
}
@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
body {
  margin: 0px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 35px 200px 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(0, 0, 0, 0.02);
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #3e3e3f;
  font-weight: 300;
  font-size: 18px;
  
}

a:hover {
  transform: scale(1.1);
}



/* Social */
.social {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 80px 15px 0px;
}

.icon {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #868383;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.ver {
  border-left: 1px solid #868383;
  height: 215px;
  margin-left: 9px;
}


/* home */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.frontend {
  font-family: "Roboto", sans-serif;
  color: #3e3e3f;
  padding-top: 155px;
  font-weight: 100;
  font-size: 55px;
  animation:fade-up 1s;
}

.content {
  display: flex;
  animation:fade-up 1s;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
}

.content h2 {
  font-size: 9em;
  position: absolute;
  transform: translate(0, -30%);
  font-family: "Poppins", sans-serif;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #3e3e3f;
  font-family: "Poppins", sans-serif;
}

.content h2:nth-child(2) {
  color: #b2b2b2;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* About*/

.about {
  display: flex;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}

.card {
  height: 545px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -0.5rem 0 2rem #e3e3e3;

  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -350px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 250px;
  transition: 0.4s ease-out;
}

.title {
  position: absolute;
  left: 35px;
  top: 30px;
  font-family: "Roboto", sans-serif;
  color: #3e3e3f;
  font-weight: 300;
  font-size: 14px;
}
